@font-face {
 font-family: 'kobelettuce';
 src:
  url('https://files.lettuce.co.jp/template/default/asset/fonts/kobelettuce.ttf?ylju15') format('truetype'),
  url('https://files.lettuce.co.jp/template/default/asset/fonts/kobelettuce.woff?ylju15') format('woff'),
  url('https://files.lettuce.co.jp/template/default/asset/fonts/kobelettuce.svg?ylju15#kobelettuce') format('svg');
 font-weight: normal;
 font-style: normal;
}

/*---------------PC/SP‹¤’Ê

@media (min-width: 768px){

	.p-scroll-nav__new {
    top: 0;
    right: 50;
}

}

.p-scroll-nav__new {
    position: absolute;
    top: 158px;
    right: 50;
}

.p-scroll-nav.is-following .p-scroll-nav__new {
    top: 0;
}



/*---------------PC/SP‹¤’Ê